.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #191919;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: top;
  color: rgb(233, 222, 222);
}

.Ent-keyp1 {
  font-size: calc(25px + 2vmin);
}

.keysearch {
  font-size: calc(10px + 2vmin);
  width: 65%;
  justify-content: center;
}